body {
font-family: Arial;
}

div{
  margin: 1% 1% 1% 1%;
}

#navbar {
  background-color: blue;
  overflow: hidden;
  height: 2em;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  height: 2em;
  font-family: Zain, sans-serif;
  left: 20%;
}

#navbar ul li {
  float: left;
  position: static;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 1em; /*  total height = padding bottom + font + padding top = 0.5+1+0.5=2em */
  display:block;
}

#navbar ul li a {
  display: block;
  color: white;
  text-decoration: none;
}

#navbar ul li a:hover {
  display: block;
  background-color: black;
}

#onpage {
  background-color: black;
  color: white;
}

.image {
  position: relative;
  float: right;
  right: 2%;
  width: 45%;
  height: auto;
  display: block;
  padding: 0 2.5% 0 2.5%
}

.relative {
  position: relative;
  width: 100%;
  height: 300%;
  border: 3px solid #73AD21;
} 

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  height: auto;
  border: 3px solid #73AD21;
  
.border{
 border: 0
}
