#map { 
  position: absolute;
  left: 0px;
  /* width: 500px; */
  /* Height: 500px; */
  right: 0px; 
  bottom: 0px; 
  top: 28px;
  z-index:4;
  }

#body {
  margin: 0px;
}

header {
  font-family: Zain, sans-serif;
  color: gray; /* text color */ 
  font-weight: normal;
  background-color: rgba(100, 100, 100, 0.5);
}

footer { /* voor bronvermeldingen */
  position: absolute;
  height: 20px;
  bottom: 0px;
  width: 100%;
  background-color: gray;
  color: black;
  font-size: 12px;
  z-index: 5;
}
/*
div{
  margin: 1% 1% 1% 1%;
}

th, td {
  padding: 0.5%;
  text-align: left;
  height: 0.6em
}

table {
  width: 40%
}
*/

/* navigation menu */

#navbar {
  background-color: rgba(100, 100, 100, 0.5);
  overflow: hidden;
  font-size: 20px; /*  total height = padding bottom + font + padding top = 4+20+4=28px */
  height: 28px;
  z-index: 5;
  position: absolute;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

#navbar ul li {
  float: left; /* Use float to get block elements to float next to each other */
}

#navbar ul li a {
  display:block; /* Allows to specify padding (and height, width, margins, etc.)
  padding-top: 5px;
  padding-bottom: 5px;*/
  padding-left: 2em; 
  padding-right: 2em;  /*  total height = padding bottom + font + padding top = 5+20+5=30px */
  text-decoration: none;
}

#navbar ul li a:hover {
  color: white;
  font-weight: bolder;
}

.onpage {
  color: white;
  font-weight: 500;
}

.grayedout {
  color: black;
  background-color: gray;
  font-weight: lighter;
}

.legenda {
  position: absolute;
  background: white;
  width: 100px;
  right: 20px;
  top: 50px;
  height: 400px;
  z-index: 10;
  border: 2px solid black;
  padding: 2px;
}

.button {
  border-color: black;
  border-width: 1px;
  color: black;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 20px;
  height: 34px;
  margin: 1px 1px;
  cursor: pointer;
  float: right;
  width: 100px;
}

#imagearea {
  position: absolute;
  background: white;
  width: 804px;/* 1px border, 800px foto, 1px border*/
  left: 30px;
  top: 50px;
  height: 684px; /* 1px border 1px padding 40px header, 600px foto, 40px footer 1px padding 1px border*/
  border: 1px solid black;
  padding: 1px;
  z-index: 2; /*achter de map */
}

#foto {
  position: absolute;
  top: 34px;
}

#fototext {
  position: absolute;
  top: 0px;
  height: 34px;
  font-size: 20px;
  margin: 0px;
}
#onderschrift {
  position: absolute;
  bottom: 0px;
  height: 40px;
  font-size: 20px;
  margin: 0px;
}
/*
.image {
  position: relative;
  float: right;
  right: 2%;
  width: 45%;
  height: auto;
  display: block;
  padding: 0 2.5% 0 2.5%
}
  
.ytborder {
 border: 0
}

/* wrapper and canvas are used only in the maps page 

#wrapper {
  width: 960px;
  height: 900px;
  background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 45%,#a0d8ef 100%);
  margin:0 auto;
  overflow: hidden;
}
#canvas {
  width: 900px;
  height: 800px;
  background-color: #ccc;
  margin: 20px auto;
}

/* modern gsm 

@media screen and (max-width: 960px){
  #navbar {
    font-size: 1.5em;
  }
  #navbar ul li {
    float: none;
    width: 100%;
  }
  #wrapper {
    width: 580px;
    height: 500px;
    margin:0 auto;
    overflow: hidden;
    background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  }
    #canvas {
    width: 550px;
    height: 450px;
    background-color: #ccc;
    margin: 10px auto;
  }
}

/* small screen 
@media screen and (max-width: 600px) {
  #navbar {
    font-size: 1em;
  }
  #navbar ul li {
    float: none;
    width: 100%;
  }
  #wrapper {
    width: 550px;
    height: 500px;
    margin:0 auto;
    overflow: hidden;
    background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 34%,#05abe0 100%);
  }
  #canvas {
    width: 510px;
    height: 450px;
    background-color: #ccc;
    margin: 15px auto;
  }
} */