table {
  table-layout: auto;
  background: lightblue;
  font-family: 'Zain', sans-serif;
  text-align: center;
  border-collapse: collapse;
  width: 50%;
  font-size: 1.7em;
}
.tablepadding {
    padding: 20px 10px 10px 20px;
    margin-top: 50px;
}

td {
	border: 1px solid;
}

th {
  border: 1px solid;
  font-size: 1.5em;
}
.super {
  
}
body {
  background:darkblue;
  font-family: 'Zain', sans-serif;
}

.rounded {
  border-radius: 4px;
}

.center {
  height: 2.7em;
  line-height: 2.7em;
}
.lbback {
    background-color: lightblue;
}

ul {
  color: White;
  /*float: left;*/
  width: 100%;
  padding: 0px;
}

ul li{
  display: inline;
  list-style-type: none;
  font-size: 2.5em;
  float: left;
}

ul li a{
  background-color: lightblue;
  color: white;
  padding: 0px 32px 0px 32px;
}

ul li a:hover {
  background-color: white;
  color: lightblue;
}
h1 {
  position: relative;
  margin: auto;
  text-align: center;
  top: 5px;
  font-size: 4em;
  color: white;
}

h2 {
  position: relative;
  margin: auto;
  text-align: center;
  top: 5px;
  font-size: 2.5em;
  color: white;
  margin: 10px 10px 10px 10px;
  height: auto;
  width: 100%;
  float: left;
}

p {
  top: 1px;
  font-size: 1.5em;
  color: white;
  margin: 10px 10px 10px 10px;
  float: left;
}

div {
  height: auto;
  width: 100%;
}
.image {
  float: right;
  width: 45%;
  margin: 10px;
}

.headerlist {
  background-color: lightblue;
}